{% extends 'base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row flex justify-content-between">
            <!-- Product Image -->
            <div class="img2 col-lg-5 mt-5">
                <img src="{{product.product_image.url}}" 
                     class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75" 
                     alt="">
            </div>

            <!-- Product Details -->
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{product.title}}</h1>
                <h3>Rs. {{product.discount_price}}/-</h3>
                <small class="text-decoration-line-through text-muted fs-5">
                    <del>Rs. {{product.selling_price}}/-</del>
                </small>

                <!-- Button Group (Add to Cart, Buy Now, Wishlist) -->
                <div class="mt-4 d-flex align-items-center">
                    <!-- Add to Cart Button -->
                    <form action="/add-to-cart" class="d-inline">
                        <input type="hidden" name="prod_id" value="{{product.id}}" />
                        <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                    </form>

                    <!-- Buy Now Button -->
                    <a href="{% url 'showcart' %}" class="btn btn-warning shadow px-5 py-2 ms-3">Buy Now</a>

                    <!-- Wishlist Button -->
                    {% if wishlist %}
                        <a pid="{{product.id}}" class="minus-wishlist btn btn-danger shadow px-5 py-2 ms-3">
                            <i class="fas fa-heart fa-lg"></i>
                        </a>
                    {% else %}
                        <a pid="{{product.id}}" class="plus-wishlist btn btn-success shadow px-5 py-2 ms-3">
                            <i class="fas fa-heart fa-lg"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}
